<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <html>
        <head>
             <img src=" {{url_for('static', filename='sky.jpeg')}}" alt="sky">
        </head>
        <body>
            <form>
                <label for="customer_name">Customer name:</label><br>
                <input type="text" id="customer_name" name="customer_name"><br>
                <br><br>
                <form name="engineer_name" id="form1" action="/action_page.php">
                Subjects: <select name="subject" id="subject">
                    <option value="" selected="selected">Abdu</option>
                    <option value="" selected="selected">Kevin</option>
                    <option value="" selected="selected">Saif</option>
                    <option value="" selected="selected">Miguel</option>
                </select>
                <br><br>
            </form>
            <h1>
                Test Page
            </h1>
            <p>This is a static page</p>
        </body>
    </html>
</body>
</html>