{% extends "base.html" %}
{% block form %} 

<form method="POST">
    <label for="customer_name">Customer name:</label><br>
    <input type="text" id="customer_name" name="customer_name" size=50 required placeholder="Enter your name here ..."><br>
    <br><br>
    <form name="engineer_name" method = "POST">
    Engineer's name: <br>
        <select name="subject" required id="subject">
            <option value="none" selected disabled hidden>
                Select an Option
            </option>
        <option value="">Abdu</option>
        <option value="">Kevin</option>
        <option value="">Saif</option>
        <option value="">Miguel</option>
        
    </select>
    <br><br>
        <input type="radio" id="1" name="rating" value="1" required><label for="age1">1</label>
        <input type="radio" id="1" name="rating" value="2"><label for="age1">2</label>
        <input type="radio" id="1" name="rating" value="3"><label for="age1">3</label>
        <input type="radio" id="1" name="rating" value="4"><label for="age1">4</label>
        <input type="radio" id="1" name="rating" value="5"><label for="age1">5</label>
        <input type="radio" id="1" name="rating" value="6"><label for="age1">6</label>
        <input type="radio" id="1" name="rating" value="7"><label for="age1">7</label>
        <input type="radio" id="1" name="rating" value="8"><label for="age1">8</label>
        <input type="radio" id="1" name="rating" value="9"><label for="age1">9</label>
        <input type="radio" id="1" name="rating" value="10"><label for="age1">10</label>
    <p><input type = "submit" value = "submit" /></p>
</form>

{% endblock %}